<header class="header" id="header">
  <div class="header-inner l-container m-auto d-flex">
    <div class="header__left d-flex align-items-center">
      <div class="header__left__logo px-3">
        <ng-container *ngIf="!isLogin; else loginLogo">
          <a class="d-flex align-items-center" routerLink="/">
            <i class="fa-brands fa-soundcloud"></i>
            <p>SoundCloud</p>
          </a>
        </ng-container>
        <ng-template #loginLogo>
          <a class="d-flex align-items-center" routerLink="/discover">
            <i class="fa-brands fa-soundcloud"></i>
          </a>
        </ng-template>
      </div>
      <nav class="header__left__navWrapper">
        <ul class="d-flex align-items-center">
          <li>
            <a routerLink="/discover">Home</a>
          </li>
          <li>
            <a routerLink="/feed">Feed</a>
          </li>
          <li><a routerLink="/library">Library</a></li>
        </ul>
      </nav>
    </div>
    <div class="header__middle">
      <div class="header__search">
        <form
          class="headerSearch"
          #searchForm="ngForm"
          (submit)="onSubmit(searchForm)"
        >
          <input
            name="textSearch"
            placeholder="Search for artists, bands, tracks, podcasts"
            [(ngModel)]="textSearch"
          />
          <span (click)="onSubmit(searchForm)">
            <i class="fa-solid fa-magnifying-glass"></i>
          </span>
        </form>
      </div>
    </div>
    <ng-container *ngIf="!isLogin; else contentLogin">
      <div class="header__right">
        <div class="header__loginMenu">
          <button class="loginButton" (click)="modalService.open('modal-1')">
            Sign in
          </button>
          <button class="signupButton" (click)="modalService.open('modal-1')">
            Create account
          </button>
          <app-modal id="modal-1">
            <div class="modal-header">
              <h5 class="modal-title">Angular + Bootstrap Modal #1</h5>
              <button
                type="button"
                class="btn-close"
                (click)="modalService.close()"
              ></button>
            </div>
            <div class="modal-body">
              <p>This bootstrap modal was opened with Angular!</p>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                (click)="modalService.close()"
              >
                Close
              </button>
            </div>
          </app-modal>
        </div>
        <div class="header__upload">
          <a routerLink="/upload">Upload</a>
        </div>
        <div class="header__navMenu">
          <i class="fa-solid fa-ellipsis"></i>
        </div>
      </div>
    </ng-container>
    <ng-template #contentLogin>
      <p>456</p>
    </ng-template>
  </div>
</header>
<button (click)="isLogin = !isLogin">button</button>
<router-outlet></router-outlet>
